asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
cx-Oracle==8.0.1
dj-pagination==2.5.0
Django==2.1
docker==4.3.1
docx==0.2.4
english==2020.7.0
idna==2.10
jieba==0.42.1
lxml==4.5.2
monotonic==1.5
neotime==1.7.4
packaging==20.4
pansi==2020.7.3
Pillow==7.2.0
prompt-toolkit==2.0.10
py2neo==2020.0.0
pycparser==2.20
Pygments==2.7.1
PyMySQL==0.10.1
pyparsing==2.4.7
python-docx==0.8.10
pytz==2020.1
pywin32==227
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
wcwidth==0.2.5
websocket-client==0.57.0
xlrd==1.2.0
