{% extends 'index.html' %}
{% load pagination_tags %}

{% block title %}
    数据管理
{% endblock %}
{% block en %}
    <!-- breadcrumb -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="/toHome/"><i class="fas fa-home"></i> 主页</a></li>
                    <li class="breadcrumb-item active">知识存储</li>
                </ol>
            </div>
        </div>
    </section><!-- breadcrumb-->
    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- {% if tempList %}-->
                        <div class="col-12">
                            <div class="card card-primary mb-5">
                                <div class="card-header">
                                    <div>Neo4j数据上传：</div>
                                </div>
                                <div class="card-body p-4">

                                    <form name="data" method="post" action="/importNeo4jMuilt/">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary" name="upload">
                                            批量导入Neo4j
                                        </button>
                                        <a href="{% url 'deleteAllNeo4j' %}">
                                            <button class="btn btn-danger" type="button"
                                                    onclick="return confirm('是否确认全部删除？');"
                                                    style="float: right; margin-right: 45px">
                                                        <span class="glyphicon glyphicon-remove"
                                                              aria-hidden="true"></span> 删除所有数据
                                            </button>
                                        </a>
                                        <div class="show-list overflow-auto">
                                            <table class="table table-bordered table-hover table-valign-middle text-center my-4"
                                                   border="solid 3px">
                                                <thead>
                                                <tr class="text-primary font-weight-bold">
                                                    <th style="min-width:150px; font-size: 16px">
                                                        <button class="btn btn-primary btn-sm doProModify"
                                                                type="button"
                                                                value="全选"
                                                                onclick="checkAll()">全选
                                                        </button>
                                                        <button class="btn btn-secondary btn-sm doProModify"
                                                                type="button"
                                                                value="全不选"
                                                                onclick="checkNoAll()">全不选
                                                        </button>
                                                    </th>

                                                    <th width="150">
                                                        头实体
                                                    </th>
                                                    <th width="100">
                                                        头实体类型
                                                    </th>
                                                    <th width="150">
                                                        尾实体
                                                    </th>
                                                    <th width="100">
                                                        尾实体类型
                                                    </th>
                                                    <th width="100">
                                                        关系类别
                                                    </th>
                                                    <th style="min-width:180px">
                                                        用户操作
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody id="tb" class="align-middle">
                                                {% autopaginate tempList 8 %}
                                                {% for list in tempList %}
                                                    <tr>

                                                        <td><input name="boxList" style="zoom:150%"
                                                                   type="checkbox"
                                                                   value="{{ list.temp_id }}"/></td>
                                                        <td>{{ list.headEntity }}</td>
                                                        <td>{{ list.headEntityType }}</td>
                                                        <td>{{ list.tailEntity }}</td>
                                                        <td>{{ list.tailEntityType }}</td>
                                                        <td>{{ list.relationshipCategory }}</td>
                                                        <td>
                                                            <a href="{% url 'importNeo4j' %}?temp_id={{ list.temp_id }}">
                                                                <input type="button" style=" font-size: 15px"
                                                                       class="btn btn-primary btn-sm doProModify"
                                                                       data-toggle="modal"
                                                                       value="导入Neo4j"/>
                                                            </a>
                                                            <a href="{% url 'deleteNeo4j' %}?temp_id={{ list.temp_id }}">
                                                                <button class="btn btn-danger btn-sm" type="button"
                                                                        onclick="return confirm('是否确认删除？');">
                                                                    <i class="fa fa-trash-o"></i> 删除
                                                                </button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>
                                            <div class="text-center">
                                                {% paginate %}
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!--/.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->


        </div>
    </section>

{% endblock en %}


{% block js %}
    <script src="/static/js/echarts.common.min.js"></script>
    <script src="/static/js/echarts-all-3.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script>
        function checkAll() {
            var hobby = document.getElementsByName("boxList");
            for (var i = 0; i < hobby.length; i++) {
                var h = hobby[i];
                h.checked = true;
            }
        }

        function checkNoAll() {
            var hobby = document.getElementsByName("boxList");
            for (var i = 0; i < hobby.length; i++) {
                var h = hobby[i];
                h.checked = false;
            }
        }
    </script>

    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

{% endblock %}



