{% extends 'index.html' %}
{% load pagination_tags %}
{% block title %}
    帮助页面
{% endblock %}

{% block en %}

    <!-- breadcrumb -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="/toHome/"><i class="fas fa-home"></i> 主页</a></li>
                    <li class="breadcrumb-item active">帮助</li>
                </ol>
            </div>
        </div>
    </section><!-- breadcrumb-->

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div> 系统环境配置介绍：</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-4 text-center">
                            系统访问路径：http://127.0.0.1:8001（注意端口号是8001）<br>
                            Python 3.6版本以上（Anaconda内置python）<br>
                            Neo4j 3.5.18<br>
                            MySql 5.6版本以上<br>
                            Python库：dj_pagination，py2neo==4.1.0，Django>=1.11.7，
                            <br>cx_Oracle（参考：https://blog.csdn.net/zhu940923/article/details/81172968）
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div> 系统数据流程图：</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <img src="/static/img/help.jpg"
                                 style="text-align: center; width: 100%; height: 100%">
                        </div>
                    </div>
                </div>
            </div>

            <!--/.col -->

            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock en %}

{% block js %}
    <script src="/static/js/echarts.common.min.js"></script>
    <script src="/static/js/echarts-all-3.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
{% endblock %}







