{% extends 'index.html' %}
{% load pagination_tags %}
{% block title %}
    关系抽取
{% endblock %}

<!--{% block en %}-->
    <!-- breadcrumb -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="/toHome/"><i class="fas fa-home"></i>主页</a></li>
                    <li class="breadcrumb-item active">关系抽取</li>
                </ol>
            </div>
        </div>
    </section><!-- breadcrumb-->

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">

                <div class="col-12 mb-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div>待抽取文档上传：</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-4">
                            <div class="col-lg-8 m-auto">

                                <form name="upload" enctype="multipart/form-data" method="post"
                                      action="/upload3/">
                                    {% csrf_token %}

                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="file" id="file"
                                                   class="custom-file-input "
                                                   lang="cn">
                                            <label class="custom-file-label" for="file">选择文件</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">上传关系抽取文档</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div>输入待抽取文本：</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-4 text-center">

                            <form name="text" method="post" action="/re_text/">
                                {% csrf_token %}
                                <br>
                                <div>
                                <textarea name="user_text" rows="10" class="w-100 mb-4"
                                          placeholder="请输入：">{{ str }}</textarea>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary" name="extraction"
                                            onclick="loading()">开始抽取
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if  resultList %}
                    <div class="col-12 mb-4">

                        <div class="card card-primary">
                            <div class="card-header">
                                <div> 结果显示：</div>
                            </div><!-- /.card-header -->

                            <div class="card-body p-4">
                                <table class="table table-bordered mb-4 table-valign-middle text-center">
                                    <thead>
                                    <tr class="text-primary">
                                        <th width="100" class="text-center">头实体</th>
                                        <th width="150" class="text-center">头实体类型</th>
                                        <th width="100" class="text-center">尾实体</th>
                                        <th width="150" class="text-center">尾实体类型</th>
                                        <th width="100" class="text-center">关系类别</th>
                                        <th width="100" class="text-center">用户操作</th>
                                    </tr>
                                    </thead>

                                    {% autopaginate resultList 4 %}

                                    <tbody id="tb">
                                    {% for list in resultList %}
                                        <tr>
                                            <td>{{ list.1 }}</td>
                                            <td>{{ list.2 }}</td>
                                            <td>{{ list.3 }}</td>
                                            <td>{{ list.4 }}</td>
                                            <td>{{ list.5 }}</td>
                                            <td>
                                                <!-- 按钮触发模态框 -->
                                                <button type="button"
                                                        class="btn btn-primary btn-sm doProModify"
                                                        data-toggle="modal"
                                                        data-target="#myModal"
                                                        onclick="
                                                                document.getElementById('rel_id').value='{{ list.8 }}';
                                                                document.getElementById('headEntity').value='{{ list.1 }}';
                                                                document.getElementById('headEntityType').value='{{ list.2 }}';
                                                                document.getElementById('tailEntity').value='{{ list.3 }}';
                                                                document.getElementById('tailEntityType').value='{{ list.4 }}';
                                                                document.getElementById('relationshipCategory').value='{{ list.5 }}';
                                                                "><i class="fa fa-pencil-square-o"></i>修改
                                                </button>
                                                <a href="{% url 'deleteRel' %}?rel_id={{ list.8 }}">
                                                    <button class="btn btn-danger btn-sm" type="button"
                                                            onclick="return confirm('是否确认删除？');">
                                                        <i class="fa fa-trash-o"></i>
                                                        删除
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            <div class="text-center">
                                 {% paginate %}
                            </div>


                                <form name="text" method="post" action="/saveRel/">
                                    {% csrf_token %}
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary" name="save"
                                                onclick="return alert('保存成功!');">保存结果
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>


                    </div>
                {% endif %}


                <!--/.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- 模态框（Modal） 修改-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel" style="font-size:20px;">
                        修改关系信息
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modifyRel" class="form-horizontal" action="/modifyRel/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="rel_id" class="col-sm-2 control-label">编号：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="rel_id" placeholder="rel_id"
                                       name="rel_id"
                                       required="required" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="headEntity" class="col-sm-2 control-label">头实体：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="headEntity" name="headEntity"
                                       placeholder="headEntity" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="headEntityType" class="col-sm-2 control-label">头实体类型：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="headEntityType"
                                       name="headEntityType"
                                       placeholder="headEntityType" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tailEntity" class="col-sm-2 control-label">尾实体：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tailEntity" name="tailEntity"
                                       placeholder="tailEntity" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tailEntityType" class="col-sm-2 control-label">尾实体类型：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tailEntityType"
                                       name="tailEntityType"
                                       placeholder="tailEntityType" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="relationshipCategory" class="col-sm-2 control-label">关系类别：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="relationshipCategory"
                                       name="relationshipCategory" placeholder="relationshipCategory"
                                       required="required">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary updatePro">提交更改</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock en %}


{% block js %}

    <script type="text/javascript" src="/static/js/layer.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script src="/static/js/echarts.js"></script>

    {% if messages %}

        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}

        </script>
    {% endif %}

    <script src="/static/js/bs-custom-file-input.min.js"></script>
    <script>
        $(function () {
            bsCustomFileInput.init();
        });

        function loading() {
            layer.msg("加载中", {
                icon: 16,
                shade: [0.6, '#000005'],//遮罩的颜色与透明度
                time: false  //取消自动关闭
            })
        }
    </script>

{% endblock %}








