{% extends 'index.html' %}
{% load pagination_tags %}
{% block title %}
    知识查询
{% endblock %}
{% block en %}
    <!-- breadcrumb -->
    <section class="content-header">
        <div class="container">
            <div class="row mb-2">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item"><a href="/toHome/"><i class="fas fa-home"></i> 主页</a></li>
                    <li class="breadcrumb-item active">知识查询</li>
                </ol>
            </div>
        </div>
    </section><!-- breadcrumb-->

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div>查询条件：</div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-4">
                            <form id="searchRelationForm" method="post" action="/relation_search/"
                                  class="form-inline">
                                {% csrf_token %}

                                <div id="entity1" class="form-group mr-4 my-4">
                                    <input type="text" id="entity1_text" name="entity1_text"
                                           class="form-control"
                                           placeholder="实体１" aria-describedby="basic-addon1"
                                           value="{{ entity1 }}">
                                </div>
                                <div class="form-group mr-4 my-4">
                                    <select name="relation_text" id="relation_text" class="form-control"
                                            style="text-align: center">
                                        <option value="">--选择关系名--</option>
                                        <option value="参考">参考</option>
                                        <option value="组成">组成</option>
                                        <option value="性能指标">性能指标</option>
                                        <option value="使用">使用</option>
                                        <option value="上下位">上下位</option>
                                    </select>
                                </div>

                                <div id="entity2" class="form-group mr-4 my-4">
                                    <input type="text" id="entity2_text" name="entity2_text"
                                           class="form-control"
                                           placeholder="实体２" aria-describedby="basic-addon1"
                                           value="{{ entity2 }}">
                                </div>

                                <button type="submit" id="btnSearch" class="btn btn-primary">开始查询
                                </button>

                            </form>
                        </div>
                    </div>
                </div>

                {% if ctx %}
                    <div class="col-12 mb-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <div>查询结果：</div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-4">
                                <div>
                                    <div class="">暂未找到相应的匹配</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if searchResult %}
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div class="col-12 mb-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <div>关系图：</div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-4 overflow-auto">
                                <div id="graph" style="width: 100%;height:600px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <div>关系列表：</div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body p-4 overflow-auto">
                                <div class="show-list">
                                    <table class="table table-bordered table-hover table-valign-middle text-center">
                                        <thead>
                                        <tr align="center" class="text-primary font-weight-bold">
                                            <th align="center" width="150" class="text-center"
                                                style="font-size:16px; ">头实体
                                            </th>
                                            <th align="center" width="150" class="text-center"
                                                style="font-size:16px; ">关系类别
                                            </th>
                                            <th align="center" width="100" class="text-center"
                                                style="font-size:16px; ">尾实体
                                            </th>
                                            <th align="center" width="250" class="text-center"
                                                style="font-size:16px; ">用户操作
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody id="tb">
                                        {% for list in tableData %}
                                            <tr>
                                                <td align="center"
                                                    style="font-size:15px; display:table-cell; vertical-align:middle">{{ list.0 }}</td>
                                                <td align="center"
                                                    style="font-size:15px; display:table-cell; vertical-align:middle">{{ list.1 }}</td>
                                                <td align="center"
                                                    style="font-size:15px; display:table-cell; vertical-align:middle">{{ list.2 }}</td>
                                                <td class="text-center">
                                                    <!-- 按钮触发模态框 -->
                                                    <button type="button"
                                                            class="btn btn-primary btn-sm"
                                                            data-toggle="modal" data-target="#myModal"
                                                            value="Modify"
                                                            style="font-size: 15px"
                                                            onclick="
                                                                    document.getElementById('headEntity').value='{{ list.0 }}';
                                                                    document.getElementById('relationshipCategory').value='{{ list.1 }}';
                                                                    document.getElementById('tailEntity').value='{{ list.2 }}';
                                                                    document.getElementById('temp_id').value='{{ list.3 }}';
                                                                    "><i class="fa fa-pencil-square-o"></i> 修改
                                                    </button>
                                                    <a href="{% url 'relation_delete' %}?temp_id={{ list.3 }}">
                                                        <button class="btn btn-danger btn-sm" type="button"
                                                                onclick="return confirm('是否确认删除？');">
                                                            <i class="fa fa-trash-o"></i> 删除
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!--/.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- 模态框（Modal） 修改-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel" style="font-size:20px;">
                        修改关系信息
                    </h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modifyTemp" class="form-horizontal" action="/relation_modify/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="temp_id" class="col-sm-2 control-label">编号：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="temp_id" placeholder="temp_id"
                                       name="temp_id" required="required" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="headEntity" class="col-sm-2 control-label">头实体：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="headEntity" name="headEntity"
                                       placeholder="headEntity" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="relationshipCategory" class="col-sm-2 control-label">关系类别：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="relationshipCategory"
                                       name="relationshipCategory" placeholder="relationshipCategory"
                                       required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tailEntity" class="col-sm-2 control-label">尾实体：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tailEntity" name="tailEntity"
                                       placeholder="tailEntity" required="required">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary updatePro">提交更改</button>
                        </div>
                    </form>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block js %}
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
    <script src="/static/js/echarts.js"></script>

    {% if searchResult %}
        <script type="text/javascript">
            var searchResult =
            {{searchResult|safe}}
            //echarts 数据
            var data = [];
            var links = [];

            //构造展示的数据
            var maxDisPlayNode = 100;
            var id = 0;
            for (var i = 0; id < maxDisPlayNode && i < searchResult.length; i++) {
                //获取node1
                node1 = {};
                node1['name'] = searchResult[i]['n1']['name'];
                node1['draggable'] = true;
                if ('url' in searchResult[i]['n1']) {
                    node1['category'] = 1;
                } else {
                    node1['category'] = 2;
                }
                var flag = 1;

                relationTarget = id.toString();
                for (var j = 0; j < data.length; j++) {
                    if (data[j]['name'] === node1['name']) {
                        flag = 0;
                        relationTarget = data[j]['id'];
                        break;
                    }
                }

                node1['id'] = relationTarget;
                if (flag === 1) {
                    id++;
                    data.push(node1);
                }

                //获取node2
                node2 = {};
                node2['name'] = searchResult[i]['n2']['name'];
                node2['draggable'] = true;
                if ('url' in searchResult[i]['n2']) {
                    node2['category'] = 1;
                } else {
                    node2['category'] = 2;
                }
                flag = 1;
                relationTarget = id.toString();
                for (var j = 0; j < data.length; j++) {
                    if (data[j]['name'] === node2['name']) {
                        flag = 0;
                        relationTarget = data[j]['id'];
                        break;
                    }
                }
                node2['id'] = relationTarget;
                if (flag === 1) {
                    id++;
                    data.push(node2);
                }

                //获取relation
                relation = {};
                relation['source'] = node1['id'];
                relation['target'] = node2['id'];
                relation['category'] = 0;
                flag = 1;
                for (var j = 0; j < links.length; j++) {
                    if (links[j]['source'] == relation['source'] && links[j]['target'] == relation['target']) {
                        links[j]['value'] = links[j]['value'] + searchResult[i]['rel']['type'];
                        flag = 0;
                        break;
                    }
                }
                if (flag === 1) {
                    relation['value'] = searchResult[i]['rel']['type'];
                    relation['symbolSize'] = 10;
                    links.push(relation);
                }

            }
            // Echarts初始化设置
            var myChart = echarts.init(document.getElementById('graph'));

            option = {
                title: {
                    text: ''
                },
                tooltip: {},
                animationDurationUpdate: 1500,
                animationEasingUpdate: 'quinticInOut',
                label: {
                    normal: {
                        show: true,
                        textStyle: {
                            fontSize: 12
                        },
                    }
                },
                legend: {
                    x: "center",
                    show: false
                },
                series: [

                    {
                        type: 'graph',
                        layout: 'force',
                        symbolSize: 45,
                        focusNodeAdjacency: true,
                        roam: true,
                        edgeSymbol: ['none', 'arrow'],
                        categories: [{
                            name: '查询实体',
                            itemStyle: {
                                normal: {
                                    color: "#009800",
                                }
                            }
                        }, {
                            name: 'Bank',
                            itemStyle: {
                                normal: {
                                    color: "#4592FF",
                                }
                            }
                        }, {
                            name: 'Serise',
                            itemStyle: {
                                normal: {
                                    color: "#c0dbc5",
                                }
                            }
                        }],
                        label: {
                            normal: {
                                show: true,
                                textStyle: {
                                    fontSize: 12,
                                },
                            }
                        },
                        force: {
                            repulsion: 1000
                        },
                        edgeSymbolSize: [4, 50],
                        edgeLabel: {
                            normal: {
                                show: true,
                                textStyle: {
                                    fontSize: 10
                                },
                                formatter: "{c}"
                            }
                        },
                        data: data,
                        links: links,
                        lineStyle: {
                            normal: {
                                opacity: 0.9,
                                width: 1.3,
                                curveness: 0,
                                color: "#262626",
                            }
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>
    {% endif %}
    <script>
        $(".dropdown-menu li a").click(function () {
            var selText = $(this).text();
            $(this).parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
            if (selText.trim() != "Other") {
                $("#relationshipCategory").val(selText.trim());
            }
            //combobox behavior
            if (selText.trim() === "Other") {
                $("#relation_name").removeClass("hide");
            } else {
                $("#relation_name").addClass("hide");
            }
        });
    </script>
{% endblock %}








